name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set Build Number
      run: echo "::set-env name=BUILD_VER::1.0.$GITHUB_RUN_NUMBER"

    - name: Set Image Name
      run: echo "::set-env name=IMG::raspi-logspout"

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: QEMU Prep
      run: |
          pwd
          chmod u+x ./qemu.sh
          sudo ./qemu.sh

    - name: Docker build
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMG }}
        labels: BUILD_VER=${{ env.BUILD_VER }}
        add_git_labels: true
        tags: ${{ env.BUILD_VER }},latest
        tag_with_ref: false
        tag_with_sha: true
        push: true
